<%= render 'shared/header' %>
<main>
	<div class="my-account-cointainer">
		<h1>Mi cuenta</h1>
		<div class="my-account-budgets">
			<p>
				<%= link_to "Mira tus presupuestos", :budgets, class: "my-account-budgets" %>
			</p>
		</div>
		<form action="">
			<div class="form-container">
				<div class="form-column-1">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				<%= render "devise/shared/error_messages", resource: resource %>
					<div>					
							<label for="">
								<%= f.label :name %><br />
								<%= f.text_field :name, autofocus: true %>
							</label>
					</div>
					<div>					
							<label for="">
								<%= f.label :last_name %><br />
								<%= f.text_field :last_name %>
							</label>
					</div>
					<div>					
							<label for="">
								<%= f.label :current_password %><br />
								<%= f.password_field :current_password, autocomplete: "current-password" %>
							</label>
					</div>
					<div>					
							<label for="">
								<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
								<%= f.password_field :password, autocomplete: "new-password" %>
								<% if @minimum_password_length %>
									<br />
									<em><%= @minimum_password_length %> characters minimum</em>
								<% end %>
							</label>
					</div>
				</div>
				<div class="form-column-2">
					<div>					
							<label for="">
								<%= f.label :email %><br />
								<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
							</label>
					</div>
					<div>					
							<label for="">			
								<%= f.label :address %><br />
								<%= f.text_field :address %>
							</label>
					</div>
					<div>					
							<label for="">			
								<%= f.label :phone %><br />
								<%= f.text_field :phone %>
							</label>
					</div>
					<div>					
							<label for="">			
								<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
								<%= f.password_field :current_password, autocomplete: "current-password" %>
							</label>
					</div>				
				</div>
			</div>
			
			<div class="form-buttons">
				<%= f.submit "Update" %>
				<%= link_to "Back", :back %> 
			</div>
			<% end %>
		</form>
	</div>
</main>
</body>
</html>
