<div id="<%= dom_id budget %>" class="budget">
  <div class="budget-image-container">
    <p><%= budget.name %></p>
    <%= image_tag 'img/presupuestos/presupuesto-living.png', alt:"presupuesto-living" %>
  </div>
  <ul class="budget-list">
    <% budget.lineitems.limit(3).each do |lineitem| %>
      <li>
        <%= lineitem.product.name %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Ver presupuesto", edit_budget_path(budget), class: "budget-button " %>
  <%= button_to "X", budget, method: :delete, class: "quit-budget", form: { data: {'turbo-confirm': '¿Estás seguro de que quieres eliminar este presupuesto?'} } %>
</div>