<%= form_with(model: budget) do |form| %>
  <% if budget.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <fieldset>
      <legend>Products:</legend>
      <hr>
      <div id="lineitems">
        <% if @budget.lineitems.length == 0 %>
          <p>No products added yet.</p>
        <% else %>
          <% @budget.lineitems.each do |lineitem| %>
              <%= render lineitem %>
            <p>
              <%= link_to "Show this product", lineitem %>
            </p>
            <% if lineitem.product.present? && lineitem.product.image.attached? %>
              <%= image_tag lineitem.product.image %>
            <% end %>
            <hr>
          <% end %>  
        <% end %>  
      </div>
          <% if @budget.id != nil %>
            <%= link_to "Add Product", new_budget_lineitem_path(@budget), class: "btn btn-primary mb-3" %>
          <% end %>
  </fieldset>
    <%= form.submit %>
<% end %>
