<%= form_with(model: budget) do |form| %>
  <% if budget.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="budget-container">
    <%= form.text_field :name, placeholder: 'Budget name' %>
    <%= form.text_area :description, placeholder: 'Budget description' %>
  </div>
  <div class="budgets">
    <% if @budget.id != nil %>
      <%= link_to "Add Product", new_budget_lineitem_path(@budget), class: "add-product" %>
    <% end %>

    <div id="lineitems">
      <% if @budget.lineitems.length == 0 %>
        <p>No products added yet.</p>
      <% else %>
        <% @budget.lineitems.each do |lineitem| %>
            <%= render lineitem %>
    </div>
          <p>
            <%= link_to "Show this product", lineitem %>
          </p>
          <hr>
        <% end %>  
        <p class="total-price">
          TOTAL:
          <%= number_to_currency(@total_price, unit: '$', precision: 2, delimiter: ',', separator: '.') %>
        </p>
      <% end %>  
    </div>
  </div>
  <div class="budget-buttons">
    <% if @budget.id != nil %>
      <%= link_to "Eliminar", @budget, method: :delete, data: { confirm: "¿Estás seguro de que quieres eliminar este presupuesto?" }, class: "quit-budget" %>
      <%= form.submit "Guardar", class: "create-budget" %>
    <% else %>
      <%= form.submit "Guardar", class: "create-budget" %>
    <% end %>
  </div>
<% end %>
 <%= button_to "Eliminar", @budget, method: :delete, class: "quit-budget", form: { data: {'turbo-confirm': '¿Estás seguro de que quieres eliminar este presupuesto?'} } %>
