<%= form_with(model: budget) do |form| %>
  <% if budget.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(budget.errors.count, "error") %> Evitó que este presupuesto no pueda ser guardado...</h2>
      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="budget-container">
    <%= form.text_field :name, placeholder: 'Budget name', class:"bd-budget-name" %>
    <%= form.text_area :description, placeholder: 'Budget description', class:"bd-budget-description" %>
  </div>
  <div class="budgets">
    <% if @budget.id != nil %>
      <%= link_to "Agregar producto", new_budget_lineitem_path(@budget), class: "add-product" %>
    <% end %>

    <div id="lineitems">
      <% if @budget.lineitems.length == 0 %>
        <p>No products added yet.</p>
      <% else %>
        <% @budget.lineitems.each do |lineitem| %>
            <%= render lineitem %>
          <p>
            <%#= link_to "Show this product", lineitem %>
          </p>
          <hr>
        <% end %>  
        <p class="total-price">
          TOTAL:
          <%= number_to_currency(@total_price, unit: '$', precision: 2, delimiter: ',', separator: '.') %>
        </p>
      <% end %>  
    </div>
  </div>
  <div class="budget-buttons">
    <%= form.submit "Guardar presupuesto", class: "create-budget" %>
		<%= link_to "Volver", budgets_path, class: "quit-budget" %>
  </div>
<% end %>
