<p style="color: green"><%= notice %></p>
<%= render 'shared/header'%>
<h1>Budgets</h1>

<div id="budgets" style= "padding-left: 1.5em">
  <% @budgets.each do |budget| %>
    <%= render budget %>
    <p>
      <%= link_to "Show this budget", budget %>
      <hr>
    </p>
  <% end %>
</div>

<%= link_to "New budget", new_budget_path %>
