<section class="section-mis-presupuestos">
  <%= render 'shared/header' %>
  <p style="color: green"><%= notice %></p>
  <div class="my-budget">
    <h1>Mis presupuestos</h1>
    <!-- Search bar -->
    <div class="search-container">
      <div class="input-search-container">
        <%= form_tag(budgets_path, method: :get, class: "budget-search-form") do %>
          <%= text_field_tag :search, params[:search], class: "search-input", placeholder: "Buscar presupuestos" %>
           <button type="submit">
              <%= image_tag 'img/icons/search.svg', alt: "search", class: "search-icon" %>
          </button>
          <%# submit_tag "Buscar", class: "create-budget"%>
        <% end %>
        <%#= submit_tag "Buscar", class: "create-budget"%>
      </div>
  </div>
  <!-- Presupuestos -->
    <div class="budget-container">
      <% if @budgets.present? %>
        <% @budgets.each do |budget| %>
          <%= render budget %>
        <% end %>
      <% else %>
        <p>No se encontraron presupuestos.</p>
      <% end %>

      <div class="budget-buttons">
        <%= link_to "Crear presupuesto", new_budget_path, class: "create-budget" %>
      </div>
    </div>
</section>