<section class="section-index">
    <!-- Navbar -->
    <nav class="nav">
        <div class="nav__container">
            <h1 class="nav__title">Electrohouse</h1>
            <a href="#menu" class="nav__menu">
                <%# <img src="images/logo-img/menu.svg" class="nav__icon" /> %>
                <%= image_tag 'logo-img/menu.svg', class: "nav__icon" %>
            </a>
            <a href="#" class="nav__menu nav__menu--second">
                <%# <img src="images/logo-img/close.svg" class="nav__icon" /> %>
                <%= image_tag 'img/icons/search.svg', class: "nav__icon" %>
            </a>
            <ul class="dropdown" id="menu">
                <li class="img-logo">
                    <%# <img src="images/img/logos/logo.svg" alt="logo" /> %>
                    <%= image_tag 'img/logos/logo.svg', alt: "logo" %>
                </li>
                <% if user_signed_in? %>
                    <li class="dropdown__list">
                        <a href="#" class="dropdown__link">
                            <span class="dropdown__span">Registrarme</span>
                        </a>
                    </li>
                <% else %>
                    <li class="dropdown__list">
                        <a href="#" class="dropdown__link">
                            <span class="dropdown__span">Iniciar sesión</span>
                        </a>
                    </li>
                <% end %>
                <li class="dropdown__list">
                    <a href="#" class="dropdown__link">
                        <div class="dropdown-categorys">
                            <span class="dropdown__span">Categorías</span>
                            <%# <img src="images/assets/down.svg" class="dropdown__arrow" /> %>
                             <%= image_tag 'img/icons/down-arrow.png', alt:"arrow", class: "down-arrow"%>
                        </div>
                        <input type="checkbox" class="dropdown__check" />
                    </a>
                    <div class="dropdown__content">
                        <ul class="dropdown__sub">
                            <% @categories.each do |category| %>
                                <li class="dropdown_li">
                                    <%= link_to category.name, category_path(category) %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
		<!-- Nav a partir de tablet -->
		<nav class="nav-searchbar">
			<div class="nav-searchbar-container">
				<%= image_tag 'img/logos/logo.svg', alt:"logo"%>
				<div class="nav-search-container">
					<div class="input-search-container">
						<%= image_tag 'img/icons/search.svg', alt:"logo", class: "search-icon" %>
						<input type="text" class="nav-search-input" placeholder="" />
					</div>
				</div>
                <div class="cat-iniciar">
                    <div class="dropdown-categories">
                        <div class="category-header">
                                Categorias <%= image_tag 'img/icons/down-arrow.png', alt:"arrow", class: "down-arrow"%>
                        </div>
                        <div class="dropdown-content">
                            <% @categories.each do |category| %>
                                <p>
                                    <%= link_to category.name, category_path(category) %>
                                </p>
                            <% end %>
                        </div>

                    </div>
                    <% if user_signed_in? %>
                        <div class="my-budget-container">
                            <div class="button-img-cont">
                                <%= image_tag 'img/logos/mi_cuenta.png', alt:"logo", class:"img-budg"%>
                                <%= link_to 'Mi cuenta', edit_user_registration_path, class: "btn-log-in" %>
                            </div>
                            <div class="button-img-cont">
                                <%= image_tag 'img/logos/presup.png', alt:"logo" ,  class:"img-budg"%>
                                <%= link_to 'Presupuestos', budgets_path, class: "btn-log-in" %>
                            </div>
                        </div>
                    <% else %>
                        <%= link_to 'Iniciar sesión', new_user_session_path , class: "btn-log-in btn-iniciar-sesion" %>
                    <% end %> 
                </div>
			</div>
		</nav>
</section>