<!-- Navbar -->
<header>
	<nav class="nav-desktop">
				<img class="logo-burger" src="./img/logos/burger.png" alt="" />
				<%= image_tag 'img/logos/logo-white.svg', alt:"logo" %>
				<img class="budget-logo" src="./img/logos/presup.png" alt="" />
				<%= link_to "Volver", :root, class: "back-button" %>
			</nav>
	<!-- Navbar mobile -->
	<nav class="nav">
				<div class="nav__container">
					<h1 class="nav__title">Electrohouse</h1>

					<a href="#menu" class="nav__menu">
						<%# <img src="./assets/menu.svg" class="nav__icon" /> %>
						<%= image_tag 'logo-img/menu.svg', alt:"menu", class: "nav__icon" %>
					</a>

					<a href="#" class="nav__menu nav__menu--second">
						<%# <img src="./assets/close.svg" class="nav__icon" /> %>
						<%= image_tag 'logo-img/close.svg', alt:"close", class: "nav__icon" %>
					</a>

					<ul class="dropdown" id="menu">
						<li class="img-logo">
							<%# <img src="./img/logos/logo.svg" alt="logo" /> %>
							<%= image_tag 'img/logos/logo.svg', alt:"logo" %>
						</li>

						<li class="dropdown__list">
							<a href="#" class="dropdown__link">
								<span class="dropdown__span">Iniciar sesión</span>
							</a>
						</li>

						<li class="dropdown__list">
							<a href="#" class="dropdown__link">
								<span class="dropdown__span">Registrarme</span>
							</a>
						</li>

						<li class="dropdown__list">
							<a href="#" class="dropdown__link">
								<div class="dropdown-categorys">
									<span class="dropdown__span">Categorías</span>
									<%# <img src="./assets/down.svg" class="dropdown__arrow" /> %>
									<%= image_tag 'logo-img/down.svg', class: "dropdown__arrow" %>
								</div>

								<input type="checkbox" class="dropdown__check" />
							</a>

							<div class="dropdown__content">
								<ul class="dropdown__sub">
									<li class="dropdown__li">
										<a href="#" class="dropdown__anchor">Heladeras</a>
									</li>
									<li class="dropdown__li">
										<a href="#" class="dropdown__anchor">Televisores</a>
									</li>
									<li class="dropdown__li">
										<a href="#" class="dropdown__anchor">Aires</a>
									</li>
									<li class="dropdown__li">
										<a href="#" class="dropdown__anchor">Lavarropas</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
	</nav>
</header>