<p style="color: green"><%= notice %></p>
<%= render partial: 'shared/header', locals: { view: false } %>
<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <div>
    <%= render category %>
    </div>
    <div>
    <p>
      <%= link_to "Show this category", category %>
    </p>
    </div>
    <hr>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
