<div id="<%= dom_id product %>">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><strong>Name:</strong><%= product.name %></h5>
    <p class="card-text">
      <strong>Description:</strong>
      <%= product.description %>
    </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>
  </div>
</div>