<p style="color: green"><%= notice %></p>
<%= render partial: 'shared/header', locals: { view: false } %>
<h1>Products</h1>

<div class="card-container">
  <div id="products">
    <% @products.each do |product| %>
      <%= render product %>
      <p>
        <%= link_to "Show this product", product %>
      </p>
    <% end %>
  </div>
</div>
<%= link_to "New product", new_product_path %>
