<!DOCTYPE html>
<html>
  <head>
    <title>Presupuestos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to 'Home', root_path, class: "btn btn-primary" %>
    <%= link_to 'Budgets', budgets_path, class: "btn btn-primary" %>
    <%# <%= link_to 'Account', users_path, class: "btn btn-primary" %> 
    <%= link_to 'Products', products_path, class: "btn btn-primary" %>
    <%= link_to 'Categories', categories_path, class: "btn btn-primary" %>

    <%= yield %>
  </body>
</html>
